In [1]:
# 准备数据

import pandas as pd
player_list = [[1,'M.S.Dhoni', 36, 75, 5428000],
               [2,'A.B.D Villers', 38, 74, 3428000],
               [3,'V.Kholi', 31, 70, 8428000],
               [4,'S.Smith', 34, 80, 4428000],
               [5,'C.Gayle', 40, 100, 4528000],
               [6,'J.Root', 33, 72, 7028000],
               [7,'K.Peterson', 42, 85, 2528000]]
index=pd.date_range('2020',periods=7,freq='D').map(lambda x:x.date().__str__())
df = pd.DataFrame(player_list, columns=['Id','Name', 'Age', 'Weight', 'Salary'],index=index)
print(df)

            Id           Name  Age  Weight   Salary
2020-01-01   1      M.S.Dhoni   36      75  5428000
2020-01-02   2  A.B.D Villers   38      74  3428000
2020-01-03   3        V.Kholi   31      70  8428000
2020-01-04   4        S.Smith   34      80  4428000
2020-01-05   5        C.Gayle   40     100  4528000
2020-01-06   6         J.Root   33      72  7028000
2020-01-07   7     K.Peterson   42      85  2528000

In [6]:
#[] 列切片：列名，列数组，行切片：列的布尔序列

#列名
print(type(df['Name']))
print(df['Name'])

#列数组
print(type(df[['Name','Age']]))
print(df[['Name','Age']])

#列的布尔序列
print(type(df['Name'].str.contains('o')))
print(df['Name'].str.contains('o'))
print(type(df[df['Name'].str.contains('o')]))
print(df[df['Name'].str.contains('o')])

#多条件
print(df[df['Name'].str.contains('o') & df['Age'].map(lambda x: x > 33)])

<class 'pandas.core.series.Series'>
2020-01-01        M.S.Dhoni
2020-01-02    A.B.D Villers
2020-01-03          V.Kholi
2020-01-04          S.Smith
2020-01-05          C.Gayle
2020-01-06           J.Root
2020-01-07       K.Peterson
Name: Name, dtype: object
<class 'pandas.core.frame.DataFrame'>
                     Name  Age
2020-01-01      M.S.Dhoni   36
2020-01-02  A.B.D Villers   38
2020-01-03        V.Kholi   31
2020-01-04        S.Smith   34
2020-01-05        C.Gayle   40
2020-01-06         J.Root   33
2020-01-07     K.Peterson   42
<class 'pandas.core.series.Series'>
2020-01-01     True
2020-01-02    False
2020-01-03     True
2020-01-04    False
2020-01-05    False
2020-01-06     True
2020-01-07     True
Name: Name, dtype: bool
<class 'pandas.core.frame.DataFrame'>
            Id        Name  Age  Weight   Salary
2020-01-01   1   M.S.Dhoni   36      75  5428000
2020-01-03   3     V.Kholi   31      70  8428000
2020-01-06   6      J.Root   33      72  7028000
2020-01-07   7  K.Peterson   42      85  2528000

In [16]:
#iloc

print(type(df.iloc[0]))
print(df.iloc[0])

print(type(df.iloc[[0]]))
print(df.iloc[[0]])

print(type(df.iloc[:2]))
print(df.iloc[:2])

print(df.iloc[:6:2])

print(df.iloc[-2:])

print(df.iloc[[False, False, False, True, True, True, False]])

print(df.iloc[df['Name'].str.contains('o').to_list()])

print(type(df.iloc[:, 0]))
print(df.iloc[:, 0])

print(type(df.iloc[:, [0]]))
print(df.iloc[:, [0]])

print(df.iloc[:, df.columns.str.contains('a')])

print(type(df.iloc[0, 0]))
print(df.iloc[0, 0])

print(type(df.iloc[[0, 2], [1, 3]]))
print(df.iloc[[0, 2], [1, 3]])

print(df.iloc[df['Name'].str.contains('o').to_list(), df.columns.str.contains('a')])

<class 'pandas.core.series.Series'>
Id                1
Name      M.S.Dhoni
Age              36
Weight           75
Salary      5428000
Name: 2020-01-01, dtype: object
<class 'pandas.core.frame.DataFrame'>
            Id       Name  Age  Weight   Salary
2020-01-01   1  M.S.Dhoni   36      75  5428000
<class 'pandas.core.frame.DataFrame'>
            Id           Name  Age  Weight   Salary
2020-01-01   1      M.S.Dhoni   36      75  5428000
2020-01-02   2  A.B.D Villers   38      74  3428000
            Id       Name  Age  Weight   Salary
2020-01-01   1  M.S.Dhoni   36      75  5428000
2020-01-03   3    V.Kholi   31      70  8428000
2020-01-05   5    C.Gayle   40     100  4528000
            Id        Name  Age  Weight   Salary
2020-01-06   6      J.Root   33      72  7028000
2020-01-07   7  K.Peterson   42      85  2528000
            Id     Name  Age  Weight   Salary
2020-01-04   4  S.Smith   34      80  4428000
2020-01-05   5  C.Gayle   40     100  4528000
2020-01-06   6   J.Root   33      72  7028000
            Id        Name  Age  Weight   Salary
2020-01-01   1   M.S.Dhoni   36      75  5428000
2020-01-03   3     V.Kholi   31      70  8428000
2020-01-06   6      J.Root   33      72  7028000
2020-01-07   7  K.Peterson   42      85  2528000
<class 'pandas.core.series.Series'>
2020-01-01    1
2020-01-02    2
2020-01-03    3
2020-01-04    4
2020-01-05    5
2020-01-06    6
2020-01-07    7
Name: Id, dtype: int64
<class 'pandas.core.frame.DataFrame'>
            Id
2020-01-01   1
2020-01-02   2
2020-01-03   3
2020-01-04   4
2020-01-05   5
2020-01-06   6
2020-01-07   7
                     Name   Salary
2020-01-01      M.S.Dhoni  5428000
2020-01-02  A.B.D Villers  3428000
2020-01-03        V.Kholi  8428000
2020-01-04        S.Smith  4428000
2020-01-05        C.Gayle  4528000
2020-01-06         J.Root  7028000
2020-01-07     K.Peterson  2528000
<class 'numpy.int64'>
1
<class 'pandas.core.frame.DataFrame'>
                 Name  Weight
2020-01-01  M.S.Dhoni      75
2020-01-03    V.Kholi      70
                  Name   Salary
2020-01-01   M.S.Dhoni  5428000
2020-01-03     V.Kholi  8428000
2020-01-06      J.Root  7028000
2020-01-07  K.Peterson  2528000

In [18]:
#loc

print(type(df.loc['2020-01-01']))
print(df.loc['2020-01-01'])

print(type(df.loc[['2020-01-01', '2020-01-03']]))
print(df.loc[['2020-01-01', '2020-01-03']])

print(df.loc[df['Name'].str.contains('o')])

print(df.loc[df.index.str.contains('3|4')])

print(df.loc[:, ['Name', 'Age']])

print(df.loc[:, 'Name':])

print(df.loc[:, df.columns.str.contains('a')])

print(df.loc[['2020-01-01', '2020-01-03'], ['Id', 'Name']])

print(df.loc[df['Name'].str.contains('o'), df.columns.str.contains('a')])

print(df.loc[df.index[3:], ['Name', 'Weight']])

print(df.loc[['2020-01-01', '2020-01-03'], df.columns[[2, 4]]])

<class 'pandas.core.series.Series'>
Id                1
Name      M.S.Dhoni
Age              36
Weight           75
Salary      5428000
Name: 2020-01-01, dtype: object
<class 'pandas.core.frame.DataFrame'>
            Id       Name  Age  Weight   Salary
2020-01-01   1  M.S.Dhoni   36      75  5428000
2020-01-03   3    V.Kholi   31      70  8428000

In [19]:
# filter

print(df.filter(items=['Name', 'Weight']))
print(df.filter(items=['2020-01-01', '2020-01-03'], axis=0))
print(df.filter(like='e'))
print(df.filter(regex='e$'))

                     Name  Weight
2020-01-01      M.S.Dhoni      75
2020-01-02  A.B.D Villers      74
2020-01-03        V.Kholi      70
2020-01-04        S.Smith      80
2020-01-05        C.Gayle     100
2020-01-06         J.Root      72
2020-01-07     K.Peterson      85
            Id       Name  Age  Weight   Salary
2020-01-01   1  M.S.Dhoni   36      75  5428000
2020-01-03   3    V.Kholi   31      70  8428000
                     Name  Age  Weight
2020-01-01      M.S.Dhoni   36      75
2020-01-02  A.B.D Villers   38      74
2020-01-03        V.Kholi   31      70
2020-01-04        S.Smith   34      80
2020-01-05        C.Gayle   40     100
2020-01-06         J.Root   33      72
2020-01-07     K.Peterson   42      85
                     Name  Age
2020-01-01      M.S.Dhoni   36
2020-01-02  A.B.D Villers   38
2020-01-03        V.Kholi   31
2020-01-04        S.Smith   34
2020-01-05        C.Gayle   40
2020-01-06         J.Root   33
2020-01-07     K.Peterson   42